.container {
  display: flex;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 20px 10px 0px 10px;
  height: 40px;
  z-index: 999;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  display: flex;
}

.logo{
  display: flex;
  margin-top: -12px;
}

.items {
  display: flex;
  gap: 25px;
}

.item {
  margin-right: 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.item:hover {
  cursor: pointer;
  border-radius: 10px;
 
  height: 27px;
  padding: 1px;
  font-size: 20px;
  text-decoration: underline;
}
